<div *ngIf="afAuth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button><br>
  <input id="message" type="text" (keyup.enter)="chatSend($event.target.value)">
  <div class="chat-container" *ngFor="let item of items | async">
    <a href="#">{{item.name}}</a><span>{{item.created.toDate()}}</span>
    
    <p>{{item.msg}}</p>

  </div>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>

